<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hd.microsysservice.mapper.SyMenuMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hd.microsysservice.entity.SyMenuEntity">
        <id column="id" property="id" />
        <result column="account" property="account" />
        <result column="enterprise_id" property="enterpriseId" />
        <result column="type" property="type" />
        <result column="level_code" property="levelCode" />
        <result column="path_code" property="pathCode" />
        <result column="enabled" property="enabled" />
        <result column="name" property="name" />
        <result column="url" property="url" />
        <result column="note" property="note" />
        <result column="icon_class" property="iconClass" />
        <result column="is_visible" property="isVisible" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        *
    </sql>

    <select id="selectUserMenu" resultMap = "BaseResultMap">
<!--        select-->
<!--        <include refid="Base_Column_List" />-->
<!--        from sy_user-->
<!--        where account like "%"#{account}"%"-->
        SELECT distinct menu.* from sy_menu menu JOIN (
        SELECT menu.path_code from sy_user_role usrRole
        JOIN sy_role_perm rolePerm on usrRole.role_id=rolePerm.role_id
        JOIN sy_menu_btn menuBtn on rolePerm.menu_btn_id=menuBtn.id
        JOIN sy_menu menu on menuBtn.menu_id=menu.id
        where usrRole.user_id=#{userId} and menuBtn.`name`='list'
        ) selMenu on  LOCATE(menu.path_code,selMenu.path_code)=1 and menu.enterprise_id =#{enterpriseId} and menu.is_visible=1 ORDER BY menu.path_code ASC;
    </select>
</mapper>
